footer {
	color: #687282;
	font-size: 18px;
	font-weight: 200;
	text-align: center;
	margin-top: auto;
}

@media (max-width: 600px) {
	footer {
		padding: 10px;
	}
}

@media (min-width: 601px) and (max-width: 1024px) {
	footer {
		padding: 15px;
	}
}

@media (min-width: 1025px) {
	footer {
		padding: 20px;
	}
}
