header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	padding: 20px 0px;
	border: 1px solid #e6e6e8;
	z-index: 1;
}

.header-title h1 {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	letter-spacing: -3px;
	font-weight: 500;
	color: #333333;
}

.logout-btn {
	padding: 8px 20px;
	background-color: #38cd9a;
	color: white;
	border: none;
	cursor: pointer;
}

.header-button {
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	padding: 0;
	margin: 0;
	transition: transform 0.3s ease;
	position: relative;
}

.header-button:hover {
	transform: scale(1.1);
}

.header-image {
	height: 30px;
	background-color: #f8f8f8;
	border-radius: 4px;
}

.cart-item-count {
	position: absolute;
	top: -20px;
	right: 0px;
	background-color: green;
	color: white;
	font-size: 12px;
	border-radius: 50%;
	padding: 4px 6px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.cart-item-count.show {
	opacity: 1;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
	/* Adjust styles for phones and smaller tablets */
	header {
		flex-direction: column;
		padding: 10px;
	}

	.header-title h1 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	.logout-btn {
		padding: 6px 16px;
		font-size: 14px;
	}

	.header-button {
		margin-top: 10px;
	}

	.header-image {
		width: 16px;
		height: 16px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	/* Adjust styles for larger tablets */
	header {
		padding: 15px;
	}

	.header-title h1 {
		font-size: 24px;
	}

	.logout-btn {
		font-size: 16px;
	}

	.header-image {
		width: 18px;
		height: 18px;
	}
}
