.container {
	padding-top: 100px;
	display: grid;
	justify-content: center;
}

.form-title {
	font-weight: bold;
	color: #0d0f15;
}

form {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	width: 300px;
	justify-content: center;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

input {
	padding: 12px;
	margin-bottom: 16px;
	background-color: #f7f7f9;
	border: none;
	border-radius: 8px;
	outline: none;
}

.login-btn {
	padding: 8px 16px;
	background-color: #38cd9a;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
	margin-top: 20px;
}

.disabled-button {
	opacity: 0.6;
	cursor: not-allowed;
}

.active {
	background-color: #38cd9a;
	opacity: unset;
	cursor: pointer;
}

.login-btn:hover {
	opacity: 0.9;
}

p {
	margin: 0;
}

.signup-link {
	margin-top: 30px;
}

.signup-link p > a {
	color: #38cd9a;
}

.signup-link p {
	color: #8c8c8d;
}

.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* Media Queries */

/* Apply styles when screen width is less than or equal to 768px */
@media screen and (max-width: 768px) {
	.container {
		padding-top: 50px;
	}

	form {
		width: 100%;
	}
}

/* Apply styles when screen width is less than or equal to 480px */
@media screen and (max-width: 480px) {
	.container {
		padding-top: 30px;
	}

	form {
		width: 100%;
	}

	label {
		font-size: 14px;
	}

	input {
		padding: 10px;
		margin-bottom: 12px;
	}

	.login-btn {
		font-size: 12px;
		padding: 6px 12px;
		margin-top: 15px;
	}
}
