.container {
	padding-top: 100px;
	display: grid;
	justify-content: center;
}
.form-title{
	font-weight: bold;
	color: #0d0f15;
}

form {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	/* margin-bottom: 40px; */
	width: 300px;
	justify-content: center;
}

label {
	font-weight: bold;
	margin-bottom: 5px;
}

input {
	padding: 12px;
	margin-bottom: 16px;
	background-color: #f7f7f9;
	border: none;
	border-radius: 8px;
	outline: none;
}

.login-btn {
	padding: 8px 16px;
	background-color: #38CD9A;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	font-size: 14px;
	cursor: pointer;
    margin-top: 20px;
}

.disabled-button {
	opacity: 0.6;
	cursor: not-allowed;
}

.active {
	background-color: #38CD9A;
	opacity: unset;
  cursor: pointer;
}

.login-btn:hover {
	opacity: 0.9;
}

p {
	margin: 0;
}

.signup-link {
	margin-top: 30px;
}
.signup-link p > a {
	color: #38CD9A;
}

.signup-link p {
	color: #8c8c8d;
}

.error-message {
	color: red;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}
