.container {
   margin-top: 100px;
}

.info-container{
    display: flex;
    justify-self: center;
    align-items: center;
}

 .star-image{
    width: 100px;
    margin-left: 10px;
}

.content-container  p{
    padding-top: 40PX;
    font-size: 16px;
  
}

.content-container li:first-child > P{
    padding-bottom: 15px;
    
    color: rgb(198, 189, 189);
    

}

.content-container li:not(:first-child) > p {
    padding: 3px 0px 0px 0px ;
    font-weight: 600;
}
 
.image-container{
    margin-left: 200px;
    margin-top: 40px;
    height: 300px;
}
 .product-image{
    height: 100%;
}


